

  <nav class="navbar navbar-default navbar-expand-lg" role="navigation">
    <a class="navbar-brand" href="/">Stefano Blog</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-01"></button>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
      <ul class="nav navbar-nav mr-auto">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/add-blog">Add Blog</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav><!-- /navbar -->