<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body class="container">
        <%- include('./partials/nav.ejs') %>
        <div class="mt-5 mb-5">
            <h5>Biography placeholder</h5>
            <p>Dr. Tanaka joined the department as an Assistant Professor in 2017. Before moving to UT, he held a postdoctoral researcher position at KTH Royal Institute of Technology, Sweden. From 2012 to 2015, he was a postdoctoral associate at Massachusetts Institute of Technology (MIT), USA. Dr. Tanaka received his M.S. and Ph.D. degrees in Aerospace Engineering from the University of Illinois at Urbana-Champaign (UIUC), USA, in 2009 and 2012, respectively. Prior to his graduate studies, he received his B.S. degree in Aerospace Engineering from the University of Tokyo, Japan.
            </p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>